.container {
    border: 5px black solid;
    margin: 5px;
    font-family: 'Bai Jamjuree', sans-serif;
}

.snippets {
    width: 500px;
    text-align: center;
}

.snippets>p {
    font-size: 12px;

}

.mac {
    width: 100%;
    height: auto;
}

.session3blk>p {
    font-size: 12px;
}